body {
    margin: 0px;
    background-image: url(backgroundOpt1.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

header {
    display: grid;
    margin: none;
    height: 100px;
    grid-template-rows: auto;
    grid-template-columns: 20% auto auto;
    grid-template-areas: "logo centro lateral";
}

.logoImg{
    grid-area: logo;
    margin-left: 8px;
    margin-top: 1px;
}

.logoImg img{
    height: 110px;
}

#midIndex{
    margin: none;
    height: 500px;
    background-color: beige;
    opacity: 30%;
}

#teste1{
    height: 160px;
    display: block;
}

footer{
    display: grid;
    height: 60px
}