@font-face {
    font-family: 'Creative Over Trial';
    src: url('fonts/CreativeOverTrial.otf') format('truetype');
}

@font-face {
    font-family: 'Darkcastle';
    src: url('fonts/Darkcastle_PERSONAL_USE_ONLY.otf') format('truetype');
}

@font-face {
    font-family: 'Hysteria Witcher';
    src: url('fonts/Hysteria Witcher.otf') format('truetype');
}

@font-face {
    font-family: 'Dragonic';
    src: url('fonts/Dragonic.otf') format('truetype');
}

@font-face {
    font-family: 'Dragos';
    src: url('fonts/Dragos.ttf') format('truetype');
}

@font-face {
    font-family: 'Dragonslapper';
    src: url('fonts/Dragonslapper.ttf') format('truetype');
}

@font-face {
    font-family: 'Rulingpen';
    src: url('fonts/Rulingpen.ttf') format('truetype');
}

@font-face {
    font-family: 'Kulderin';
    src: url('fonts/Kulderin.otf') format('truetype');
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-image: url(outerspace.gif);
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: Dragonslapper;
    font-size: large;
    overflow-x: hidden;
}

header {
    display: grid;
    margin: none;
    height: 115px;
    background-image: linear-gradient(to bottom, #0069f6, #005efa, #0052fd, #0044ff, #0032ff, #0030f3, #002ee6, #002cda, #0034bb, #00369a, #003377, #1b2f54);
    border: solid white 2px;
    background-size: 100% auto;
    background-repeat: repeat-x;
    grid-template-rows: auto;
    grid-template-columns: 13% auto;
    grid-template-areas: "logo botoes";
}

.logoImg{
    grid-area: logo;
    margin-left: 8px;
    margin-top: 1px;
}

.logoImg img{
    height: 110px;
}

.botoes{
    display: grid;
    grid-area: botoes;
    grid-template-rows: 33.3% 33.3% 33.4%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-areas: "uma duas tres quatro cinco" "ps nintendo xbox sega pc" "seis sete oito nove dez";
}

.ps{position: relative; display: inline-block; grid-area: ps; margin-right: 20px;}
.ninte{position: relative; display: inline-block; grid-area: nintendo}
.xbox{position: relative; display: inline-block; grid-area: xbox}
.sega{position: relative; display: inline-block; grid-area: sega}
.pc{position: relative; display: inline-block; grid-area: pc}

.dropdown-btn {
    background-image: linear-gradient(to bottom, #0069f6, #005efa, #0052fd, #0044ff, #0032ff, #0030f3, #002ee6, #002cda, #0034bb, #00369a, #003377, #1b2f54);
    border: solid white 2px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: solid 2px rgb(253, 253, 253);
    cursor: pointer;
    border-radius: 3px;
    font-family: Dragonslapper;
}

.pc-btn {
    background-image: linear-gradient(to bottom, #0069f6, #005efa, #0052fd, #0044ff, #0032ff, #0030f3, #002ee6, #002cda, #0034bb, #00369a, #003377, #1b2f54);
    border: solid white 2px; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: solid 2px rgb(247, 247, 247);
    cursor: pointer;
    border-radius: 3px;
    font-family: Dragonslapper;
}

.pc-btn a{
    text-decoration: none;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-image: linear-gradient(to bottom, #0069f6, #005efa, #0052fd, #0044ff, #0032ff, #0030f3, #002ee6, #002cda, #0034bb, #00369a, #003377, #1b2f54);
    border: solid white 2px;
    color:white;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #877575;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.midPlat{
    display: block;
    color: rgb(41, 41, 41);
    text-align: center;
    font-size: 50px;
    background-color: royalblue;
    background-image: url(nameArea5.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    border: 2px solid rgb(0, 30, 65);
    border-left: none;
    border-right: none;
    border-radius: 0px 0px 105px 105px;
}

.conteudo{
    width: 95%;
    height: auto;
    margin: 40px 40px 110px 40px;
    display: flex;
}

#midIndex{
    margin: none;
    height: 500px;
    background-color: beige;
    opacity: 30%;
}

#teste1{
    height: 160px;
    display: block;
}

footer{
    height: 50px;
    display: grid;
    background-image: url(footerBack3.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    grid-template-rows: auto;
    grid-template-columns: auto 34% auto;
    grid-template-areas: "outro formulario algum";
}

.pag{
    display: block;
    padding: 50px;
}

/*----------------------------------------------------------------------------------------------------------------------------*/

.card {
    width: 300px;
    height: 200px;
    perspective: 1000px;
    cursor: pointer;
    position: relative;
    transition: transform 0.6s ease;
}
  
.card .front, .card .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    transition: transform 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.card .front {
    background-color: #3498db;
    color: white;
}

.front img{
    width: 300px;
    height: auto;
}

.card .back {
    background-color: gold;
    transform: rotateY(180deg);
}

.card:hover {
    transform: rotateY(180deg) scale(1.2);
}

.card:hover .front {
    transform: rotateY(180deg);
}

.card:hover .back {
    transform: rotateY(0deg);
}

.card:hover .front {
    transform: rotateY(180deg);
}

.card:hover .back {
    transform: rotateY(0deg);
}

.card:hover .back video {
    transform: rotateY(180deg); /* Corrige o espelhamento */
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: pink;
    border: 1px solid #5f89c4;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.caption {
    margin: none;
    font-size: 24px;
    color: #555;
    align-items: center;
    text-align: center;

}

.caption a{
    text-decoration: none;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.deschar{
    background-color: rgba(218, 165, 32, 0.421);
    width: 100%;
    color: NavajoWhite;
}

.pchar{
    background-color: rgba(139, 0, 139, 0.677);
    padding: 2px;
    border: solid 1px whitesmoke;
    font-size: larger;
    color: powderblue;
}

.txtchar{
    padding: 10px;
    text-align: justify;
    font-family: 'Kulderin';
    font-size: large;
    font-weight: bold;
}

/*Hiago*/

.element-body{
    cursor: url('Cursor.ico'), auto;
}

.element-body:hover {
    cursor: url('Cursor_Animado.gif'), auto;
}

.chr{
    position: sticky;
    background-size: auto auto;
}

.glass-effect {
    width: auto;
    height: auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 15px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    color: #1b1818; 
    text-align: center;
}

.carrossel {
    position: relative;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    margin: auto;
}

.carrossel-slide {
    display: flex;
    transition: transform 1s ease; 
}

.carrossel-slide img {
    width: 100%;
    height: auto;
    flex: 0 0 100%; 
}

.carrossel:hover{
    transform: size 50%;
}

/*player*/
* {
margin: 0;
padding: 0;
}

.player {
    background: url('http://www.507projex.com/storage/1274690205_1drinkthesea.jpeg?__SQUARESPACE_CACHEVERSION=1282165707604');
    background-size: cover;
    border: 1px solid #111;
    border-radius: 5px;
    box-shadow: inset 0 0 1px 1px hsla(0,0%,100%,.1),
                0 2px 8px hsla(0,0%,0%,.4);
    left: 50%;
    margin: -113px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 226px;
}
.player .details {
    height: 136px;
    position: relative;
}
.player .details .track {
    background:  hsla(0,0%,0%,.75);
    border-top: 1px sold hsla(0,0%,0%,.9);
    bottom: -96px;
    box-shadow: 0 -1px 1px hsla(0,0%,100%,.1);
    position: absolute;
    width: 100%;
    -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
            -o-transition: .4s;
            transition: .4s;
}
.player:hover .details .track {
    bottom: 0;
}
.player .details .track .title {
    color: #fff;
    font: 14px/24px 'Gill Sans MT', sans-serif;
    padding: 6px 12px;
}
.player .details .track .title strong {
    font-weight: bold;
}
.player .bottom {
    background-color: hsla(0,0%,25%,1);
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
    background-image:    -moz-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
    background-image:     -ms-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
    background-image:      -o-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
    background-image:         linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
    border-top: 1px solid #111;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.1);
    padding: 12px;
    position: relative;
    top: 96px;
    -webkit-transition: .4s;
        -moz-transition: .4s;
        -ms-transition: .4s;
            -o-transition: .4s;
            transition: .4s;
}
.player:hover .bottom {
    top: 0;
}
.player .bottom .playback {
    background: #333;
    border: 1px solid #161616;
    border-radius: 2px;
    box-shadow: inset 0 5px 10px hsla(0,0%,0%,.25),
                0 1px 1px hsla(0,0%,100%,.1);
    height: 12px;
}
.player .bottom .playback .progress {
    background-image: -webkit-linear-gradient(left, hsla(0,0%,100%,.075) 25%, transparent 25%),
                        -webkit-linear-gradient(-45deg, #f66, #fc6, #ff6, #6cf);
    background-image:    -moz-linear-gradient(left, hsla(0,0%,100%,.075) 25%, transparent 25%),
                            -moz-linear-gradient(-45deg, #f66, #fc6, #ff6, #6cf);
    background-image:     -ms-linear-gradient(left, hsla(0,0%,100%,.075) 25%, transparent 25%),
                            -ms-linear-gradient(-45deg, #f66, #fc6, #ff6, #6cf);
    background-image:      -o-linear-gradient(left, hsla(0,0%,100%,.075) 25%, transparent 25%),
                            -o-linear-gradient(-45deg, #f66, #fc6, #ff6, #6cf);
    background-image:         linear-gradient(left, hsla(0,0%,100%,.075) 25%, transparent 25%),
                                linear-gradient(-45deg, #f66, #fc6, #ff6, #6cf);
    background-size: 3px 3px, 100% 100%;
    border-radius: 2px;
    box-shadow: inset 0 1px 1px hsla(0,0%,100%,.25),
                inset 0 -1px 1px hsla(0,0%,0%,.25);
    height: 100%;
    position: relative;
    width: 66%;
}
.player .bottom .playback:hover .progress:after {
    background: hsla(0,0%,0%,.75);
    border-radius: 3px;
    bottom: -6px;
    box-shadow: inset 0 0 0 1px hsla(0,0%,0%,1),
                inset 0 1px 2px hsla(0,0%,100%,.25),
                0 1px 2px hsla(0,0%,0%,.25);
    color: #fff;
    content: attr(data-time);
    font: 12px/1 sans-serif;
    padding: 6px 0;
    position: absolute;
    right: -42px;
    text-align: center;
    width: 36px;
}
.player .bottom .playback:hover .progress:before {
    border-bottom: 6px solid transparent;
    border-right: 6px solid hsla(0,0%,0%,1);
    border-top: 6px solid transparent;
    bottom: 0;
    content: '';
    height: 0;
    position: absolute;
    right: -6px;
    width: 0;
}
.player .bottom .controls {
    font-size: 0;
    margin-top: 12px;
}
.player .bottom .controls div {
    background-color: hsla(0,0%,40%,.75);
    background-image: -webkit-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
    background-image:    -moz-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
    background-image:     -ms-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
    background-image:      -o-linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
    background-image:         linear-gradient(hsla(0,0%,100%,.1), hsla(0,0%,0%,.1));
    border: 1px solid #222;
    box-shadow: inset 0 1px 2px hsla(0,0%,100%,.25),
                inset 1px 0 1px hsla(0,0%,100%,.1),
                inset -1px 0 1px hsla(0,0%,100%,.1);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: 16px/16px sans-serif;
    margin-left: -1px;
    padding: 13px 12px 11px;
    text-align: center;
    text-shadow: 0 -1px 1px hsla(0,0%,0%,.75);
    width: 42px;
}
.player .bottom .controls div:first-child {
    border-radius: 3px 0 0 3px;
    margin-left: 0;
}
.player .bottom .controls div:last-child {
    border-radius: 0 3px 3px 0;
}
.player .bottom .controls div:hover {
    background-color: hsla(0,0%,50%,.75);
}
.player .bottom .controls div:active {
    background-color: hsla(0,0%,30%,.75);
    box-shadow: inset 0 2px 2px hsla(0,0%,0%,.25),
                inset 1px 0 1px hsla(0,0%,0%,.1),
                inset -1px 0 1px hsla(0,0%,0%,.1);
    padding-bottom: 10px;
    position: relative;
    top: 1px;
}
.player .bottom .controls div img {
    opacity: .9;
}

/*Slideshow*/
* { box-sizing: border-box; }

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
	box-shadow: 10px 6px linear-gradient(to top, #30cfd0 0%, #330867 100%);
	
}

.slide {
    display: none;
}

img { vertical-align: middle; }

.text {
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
	text-shadow: 2px 2px 5px yellow;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next { right: 0; border-radius: 3px 0 0 3px; }

.prev:hover, .next:hover { background-color: rgba(0,0,0,0.8); }

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: 0.4; } 
    to { opacity: 1; }
}

/* Estilos do indicador de slide */
.indicator-container {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.indicator-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.indicator-dot {
    width: 20px;
    height: 5px;
    background-color: #888;  /* Cinza para inativos */
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.indicator-dot.active {
    background-color: #f44336;  /* Cor para o slide ativo */
}

/*Player*/
*{
	margin:0;
	padding:0;
	font-family:'Poppins', sans-serif;
	box-sizing:border-box;
}

.container{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(to right top, #0076ff, #3b6bf2, #5260e5, #6055d7, #6b49c9, #575bd7, #3c6be2, #0079eb, #009ffe, #00c1ff, #00dffa, #5ffbf1);
	display:flex;
	align-items:center;
	flex-wrap:wrap;
	
}
.music-player{
	background-image: linear-gradient(to bottom, #0069f6, #005efa, #0052fd, #0044ff, #0032ff, #0030f3, #002ee6, #002cda, #0034bb, #00369a, #003377, #1b2f54);
    border: solid white 2px;
	width:400px;
	padding:25px 35px;
	text-align:center;
}

nav{
	display:flex;
	justify-content:space-between;
	margin-bottom: 30px;
}

nav .circle{
	border-radius:50%;
	width:40px;
	height:40px;
	line-height:40px;
	background:#fff;
	color: blue;
	box-shadow: 0 5px 10px rgba(2, 26, 26, 0.22);
}

.song-img{
	width:220px;
	border-radius: 50%;
	border: 8px solid #fff;
	box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
}

.music-player h1{
	font-size: 20px;
	font-weight: 400;
	color: #ffffff;
	margin-top: 20px;
}

.music-player p{
	font-size: 14px;
	color: #ffffff;
	
}
#progress{
	-webkit-appearance: none;
	width: 100%;
	height: 6px;
	background: white;
	border-radius: 4px;
	Cursor:pointer;
	margin: 40px 0;
}

#progress::-webkit-slider-thumb{
	-webkit-appearance:none;
	background-image: linear-gradient(to bottom, #0069f6, #005efa, #0052fd, #0044ff, #0032ff, #0030f3, #002ee6, #002cda, #0034bb, #00369a, #003377, #1b2f54);
	width:30px;
	height:30px;
	border-radius:50%;
	border: 8px solid #fff;
}

.controls{
	display:flex;
	justify-content:center;
	align-items: center;
}

.controls div{
	width:60px;
	height:60px;
	margin:20px;
	background: #fff;
	display: inline-flex;
	align-items:center;
	justify-content:center;
	border-radius: 50%;
	color: blue;
	box-shadow: 0 10px 20px rgba(177, 202, 255, 0.22);
	Cursor:pointer;
}

.controls div:nth-child(1){ 
	transform: scale(1.5);
	background-image: linear-gradient(to bottom, #0069f6, #005efa, #0052fd, #0044ff, #0032ff, #0030f3, #002ee6, #002cda, #0034bb, #00369a, #003377, #1b2f54);
	color: #fff;
} /* Personaliza um unico elemento dos controles; obs: para ultilizar o controle com maximo de desempenho e beautiful troque o nth-child(1) por (2)*/


